# deps
/node_modules

# generated content
.source
content/docs/api-reference/*/endpoints/

# test & build
/coverage
/.next/
/out/
/build
/dist/
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env
.env*.local
.env.production
.vercel
next-env.d.ts
rust-server/target
rust-server/logs
rust-server/files
rust-server/Cargo.lock
rust-server/.compilers
